<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gabekeyner.nostalgia">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- permissions and features for the [ Camera ] capabilities -->
    <!-- <uses-permission android:name="android.permission.CAMERA"/> -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- This code below is if you want to show a location of where this photo was taken at -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.gabekeyner.nostalgia.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".Firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Firebase.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gabekeyner.nostalgia.Activities.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.CameraActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".NostalgiaContentProvider"
            android:authorities="com.example.gabekeyner.nostalgia.NostalgiaContentProvider"
            android:exported="true"
            android:label="my provider"
            android:syncable="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--<activity-->
            <!--android:name=".DetailActivity"-->
            <!--android:label="@string/title_activity_detail"-->
            <!--android:theme="@style/AppTheme"-->
            <!--android:windowSoftInputMode="adjustPan" />-->
        <activity
            android:name=".Activities.SignInActivity"
            android:label="@string/title_activity_sign_in" />
        <activity
            android:name=".Activities.GroupsActivity"
            android:label="@string/title_activity_groups"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gabekeyner.nostalgia.Activities.MainActivity" />
        </activity>
        <receiver android:name=".Activities.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="groupKey"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>